{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Genre{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br />
        {{ utils.flashed_messages() }}
        <br />
        <h1 style="text-align:center;">Genre</h1>
        {% if genres %}
        <hr class="intro-divider">
        <div class="center">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th width="50%"> Tag </th>
                <th width="20%"> Amount</th>
                <th width="15%"> Edit </th>
                <th width="15%"> Delete </th>
              </tr>
            </thead>
            <tbody>
              {% for genre in genres %}
              <tr>
                <td> {{ genre.name }} </td>
                <td>
                  {% if genre.projects %}
                  {{ genre.projects|length }}
                  {% else %}
                  0
                  {% endif %}
                </td>
                <td>
                  <a href="{{ url_for('management.edit_genre', id=genre.id) }}">
                    <i class="fa fa-pencil"></i> Edit
                  </a>
                </td>
                <td>
                  <a href="{{ url_for('management.delete_genre', id=genre.id) }}">
                    <i class="fa fa-trash"></i> Delete
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div style="text-align: center">
          {% else %}
          <div style="text-align: center">
            <h3> No genres have been added. </h3>
            <hr class="intro-divider">
            {% endif %}
            <a href="{{ url_for('management.add_genre') }}" class="btn btn-default btn-lg">
              <i class="fa fa-plus"></i>
              Add Genre
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
