{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
{% if add_project %}
Add Project
{% else %}
Edit Project
{% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
          {% if add_project %}
          <h1>Add Project</h1>
          {% else %}
          <h1>Edit Project</h1>
          {% endif %}
          <br />
          <form action class="form" method="post" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.title) }}
            {{ wtf.form_field(form.type) }}
            {{ wtf.form_field(form.status) }}
            {{ wtf.form_field(form.representative) }}
            <div class="form-group ">
              <label class="control-label" for="genres">Genres</label>
              <ul class="" style="list-style:none" id="genres">
                {% for checkbox in form.genres %}
                  {{ wtf.form_field(checkbox) }}
                {% endfor %}
              </ul>
            </div>
            {{ wtf.form_field(form.submit) }}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var labels = document.getElementsByTagName('label');
  checked = {{ checked }};
  var input = document.getElementsByTagName('input');
  for (var i = 0; i < input.length; ++i) {
    if (checked.includes(Number(input[i].value))) {
      input[i].checked = true;
    }
  }
</script>
{% endblock %}
